* {
    margin: 0;
    padding: 0;
}
div {
    position: relative;
}
h1 {
    color: #19535f;
    position: absolute;
    float: right;
    opacity: 100;
    
}   
.hero img {
    display: block;
    width: 100%;
    height: auto;
}
main img {
    width: 150px;
    height: auto;
    border: 1px solid #c3d5c6;
    padding: 2px;
    box-shadow: 0 0 10px #005c7a;
    float: absolute;
    margin: 0 0 1rem 1rem;
}
p {
    padding: 10px;
    margin: 1rem;
}

main { 
    max-width: 840px;
}

main img {
    width: 400px;
    height: auto;
}
p { padding: 0;}

footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}
/*Class Selectors*/

.indent{
    padding-left: 2rem;
}
