	:root {
	    --primary-color: #19535F;
	    --secondary-color: #005c7a;
	    --accent1-color: #c3d5c6;
	    --accent2-color: #e0e0e0;
	}

	body {
	    font-family: "Roboto", sans-serif;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
	    font-family: "Montserrat", serif;
	}


	nav {
	    font-size: larger;
	    font: #005c7a;
	}

	.hero {
	    position: relative;
        
	}

	.hero img {
	    display: block;
	    width: 100%;
	    height: auto;

	}

	.hero h1 {
	    position: absolute;
	    top: 10%;
	    left: 0;
	    right: 0;
	    text-align: center;
        
	}

	.hero article {
	    position: absolute;
	    top: 30%;
	    left: 10%;
	    right: 10%;
	    background-color: rgba(255, 255, 255, 0.521);
	    padding: 1em;
	}

	.hero article img {
	    float: right;
	    width: 200px;
	}