	:root {
	    --primary-color: #19535F;
	    --secondary-color: #005c7a;
	    --accent1-color: #c3d5c6;
	    --accent2-color: #e0e0e0;
	}

	* {
	    margin: 0;
	    padding: 0;
	    box-sizing: border-box;
	}

	head {
	    color: #ffffff;
	    font-weight: 700;
	    position: relative;
	    top: 10%;
	    left: 0;
	    right: 0;
	    text-align: center;
	}

	.header {
	    display: grid;
	    grid-template-columns: 1fr 3fr;
	    padding: 10px 20px;
	    background-color: #005c7a
	}

	body {
	    font-family: "Roboto", sans-serif;
	    margin: 0px
	}

	main {
	    margin-left: 20px;
	    margin-right: 20px;
	}

	h1,
	h3,
	h4,
	h5,
	h6 {
	    text-align: center;
	    font-family: Roboto;
	    font-style: bold;
	    color: #ffffff;
	    font-size: 70px;
	}

	.nav ul {
	    display: flex;
	    list-style: none;
	    background-color: #005c7a;
	    padding: 0px;
	    margin: 0px;
	    overflow: hidden;
	    font-size: larger;
	    justify-content: space-around;
	    align-items: center;

	}

	.nav ul li {
	    float: left;
	    list-style: none;
	    display: : inline-block;
	    flex: 1 1 100%;
	    margin: 0 10px
	}

	.nav ul li a {
	    color: white;
	    font-weight: bold;
	    margin-right: 30px;
	    text-decoration: none;
	    padding: 25px;
	    display: block;
	    text-align: center;
	}

	.nav a:hover {
	    background-color: #c3d5c6(o, 0%, 10%);
	    transition: all;
	}


	.logo img {
	    margin: 0 0.25rem 0 1rem;
	    width: auto;
	    height: auto;
	    position: relative;
	}

	.hero {
	    position: relative;
	}

	.hero img {
	    display: block;
	    width: 100%;
	    height: auto;

	}


	.hero h1 {
	    position: absolute;
	    top: 10%;
	    left: 0;
	    right: 0;
	    text-align: center;

	}

	.hero article {
	    position: absolute;
	    top: 30%;
	    left: 10%;
	    right: 10%;
	    background-color: rgba(255, 255, 255, 0.521);
	    padding: 1em;
	}

	.hero article img {
	    float: right;
	    width: 200px;
	}

	/** History starts */

	.history {
	    padding: 40px;
	    background-color: #005c7a;
	    text-align: center;
	    color: #e0e0e0;
	}

	.history h2 {
	    font-size: 2.5rem;
	    margin-bottom: 30px;
	    color: #ffffff;
	    font-weight: bold;
	}

	.history-grid {
	    display: grid;
	    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	    /* Responsive grid */
	    gap: 20px;
	}

	/*adventures*/

	.adventures {
	    display: flex;
	    justify-content: space-between;
	    flex-wrap: wrap;
	    margin: 25px;
	    align-items: center;
	}

	.adventures h2 {
	    font-size: large;
	}

	figure {
	    border: thin #c0c0c0 solid;
	    display: flex;
	    flex-flow: column;
	    padding: 5px;
	    max-width: 220px;
	    margin: auto;
	}


	figcaption {
	    background-color: #19535F;
	    color: #fff;
	    font: italic smaller sans-serif;
	    padding: 3px;
	    text-align: center;
	}

	.footer {
	    display: flex;
	    justify-content: space-between;
	    align-items: center;
	    padding: 20px;
        margin: 100%;
    }

	.footer p {
	    margin: 100;
	    font-size: 1rem;
	}

	.social-links {
	    display: flex;
	    justify-content: flex-end;
        gap: 30px;
	}

	.social-links a img {
	    width: 60px;
	    height: auto;
	}

